<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <title>Se connecter</title>
</head>
<body>

<section class="vh-100" style="background-color: #9A616D;">

    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col col-xl-10">

                <div class="card" style="border-radius: 1rem;">

                    <div class="row g-0">

                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{{ asset('/Images/App/Formulaires/connexion.jpg') }}" alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                        </div>

                        <div class="col-md-6 col-lg-7 d-flex align-items-center">

                            <div class="card-body p-4 p-lg-5 text-black">

                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <img src="{{ asset("Images/App/Logo/logo.jpg") }}" alt="" class="rounded-circle d-inline-block align-text-center" width="60" height="54">
                                    <h1 class="fw-bold">Allakro News</h1>
                                </div>

                                <form method="post">

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connexion à votre compte</h5>

                                    {% if error %}
                                        <div class="text-danger mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <div class="form-floating mdc-floating-label mb-4">
                                        <input type="email" name="email" id="inputEmail" class="form-control form-control-lg" value="{{ last_username }}" autocomplete="email" placeholder="Adresse email" required/>
                                        <label class="form-label" for="inputEmail">Adresse email</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <input type="password" name="password"  id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" placeholder="Mot de pass" required />
                                        <label class="form-label" for="inputPassword">Mot de pass</label>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </div>

                                    <div class="row">

                                        <div class="pt-1 col mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Se connecter</button>
                                        </div>

                                        <div class="col  d-flex align-content-center flex-wrap">
                                            <a class="small text-muted align-self-end" href="{{ path('app_forgot_password_request') }}">Mot de pass oublié?</a>
                                        </div>

                                    </div>


                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n'avez pas de compte?<a href="{{ path('app_register')}}" style="color: #393f81;">Créer un compte ici</a></p>
                                    <a href="#" class="small text-muted">Terms of use.</a>
                                    <a href="#" class="small text-muted">Privacy policy</a>

                                </form>

                                <div class="text-center m-5">
                                    © {{ 'now' | date('Y')}} quartier Allakro
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

<div class="checkbox mb-3">
    <label>
        <input type="checkbox" name="_remember_me"> Remember me
    </label>
</div>
#}

</body>
</html>
