{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

    {#    liste du dernier article#}
    <section class="mt-5">
        <div class="container">

            <h1 class="text-center mt-5 mb-5">Dernière publication</h1>

            {% for article in articles0 %}
            <div class="row">

                <div class="col">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('post') }}" alt="" style="height: 25rem;" class="w-100">
                </div>

                <div class="col d-flex flex-column justify-content-center">

                        <div class="mb-auto">
                            <h4 class="text-uppercase">{{ article.titre }}</h4>
                            <h5 class="card-subtitle text-muted">{{ article.user }}</h5>
                        </div>

                        <div class="mb-auto">
                            <p>{{ article.contenu | striptags | u.truncate(600, '...', false) }}</p>
                        </div>

                        <div class="d-flex">
                            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-outline-primary">Lire la suite</a>
                            <p class="text-muted ms-auto pb-0">Mis à jour le {{ article.updatedAt ? article.updatedAt|format_datetime('full', locale='fr') : article.createdAt ? article.createdAt|format_datetime('full', locale='fr') }}</p>
                        </div>

                </div>

            </div>
            {% endfor %}

        </div>

    </section>
    {#    liste du dernier article#}

    {#    liste des 6 derniers articles#}
    <section>

        <div class="container">

            <div class="row">

                <div class="col-8 mb-5">
                    <h1 class="mt-5 mb-5 text-center">Tous les articles</h1>

                    {% for article in articles1 %}
                        <div class="card mb-3">
                            <div class="row g-0">

                                <div class="col-md-4">
                                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('card_thumb') }}" class="img-fluid rounded-start h-100" width="400" alt="...">
                                </div>

                                <div class="col-md-8">
                                    <div class="card-body pb-1 pt-1">
                                        <h5 class="card-title">{{ article.titre }}</h5>
                                        <h6 class="card-subtitle text-muted">{{ article.user}}</h6>
                                        <p class="card-text mt-3">{{ article.contenu | striptags | u.truncate(200, '...', false) }}</p>
                                        <div class="row align-items-end">
                                            <div class="col-4">
                                                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Lire Plus</a>
                                            </div>
                                            <div class="col-8 d-flex">
                                                <p class="card-text ms-auto"><small class="text-muted">Ajouté le {{ article.createdAt | format_datetime('full', locale='fr') }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </section>
    {#    liste des derniers 6 articles#}

    {#    liste des 3 derniers articles de ALLAKRO#}
    <section>

        <div class="container">

            <div class="row">

                <div class="col-8 mb-5">
                    <h1 class="mt-5 mb-5 text-center">Article récent de ALLAKRO</h1>

                    {% for article in articles3 %}
                        <div class="card mb-3">
                            <div class="row g-0">

                                <div class="col-md-4">
                                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('card_thumb') }}" class="img-fluid rounded-start h-100" width="400" alt="...">
                                </div>

                                <div class="col-md-8">
                                    <div class="card-body pb-1 pt-1">
                                        <h5 class="card-title">{{ article.titre }}</h5>
                                        <h6 class="card-subtitle text-muted">{{ article.user}}</h6>
                                        <p class="card-text mt-3">{{ article.contenu | striptags | u.truncate(200, '...', false) }}</p>
                                        <div class="row align-items-end">
                                            <div class="col-4">
                                                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Lire Plus</a>
                                            </div>
                                            <div class="col-8 d-flex">
                                                <p class="card-text ms-auto"><small class="text-muted">Ajouté le {{ article.createdAt | format_datetime('full', locale='fr') }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </section>
    {#    liste des 3 derniers articles de ALLAKRO#}

    {#    liste des 3 derniers articles de UVCI#}}
    <section>

        <div class="container">

            <div class="row">

                <div class="col-8 mb-5">
                    <h1 class="mt-5 mb-5 text-center">Aricle récent de UVCI</h1>

                    {% for article in articles2 %}
                        <div class="card mb-3">
                            <div class="row g-0">

                                <div class="col-md-4">
                                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('card_thumb') }}" class="img-fluid rounded-start h-100" width="400" alt="...">
                                </div>

                                <div class="col-md-8">
                                    <div class="card-body pb-1 pt-1">
                                        <h5 class="card-title">{{ article.titre }}</h5>
                                        <h6 class="card-subtitle text-muted">{{ article.user}}</h6>
                                        <p class="card-text mt-3">{{ article.contenu | striptags | u.truncate(200, '...', false) }}</p>
                                        <div class="row align-items-end">
                                            <div class="col-4">
                                                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Lire Plus</a>
                                            </div>
                                            <div class="col-8 d-flex">
                                                <p class="card-text ms-auto"><small class="text-muted">Ajouté le {{ article.createdAt | format_datetime('full', locale='fr') }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </section>
    {#    liste des 3 derniers articles de UVCI#}}

{% endblock %}