<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <title>Creer un compte</title>
</head>
<body>

<div class="vh-100">

        <div class="row">

            <div class="col-6 ">

            <div class="m-4 d-flex">
                    <img src="{{ asset("Images/App/Logo/logo.jpg") }}" alt="" class="rounded-circle d-inline-block align-text-center" width="60" height="54">
                    <h1 class="fw-bold">Allakro News</h1>
            </div>

                <div class="container mx-3">
                    <p class="text-center h1 fw-bold">Créer un compte</p>
                    {{ form_start(registrationForm) }}
                    <div class="row">
                        {{ form_row(registrationForm.nom) }}
                        {{ form_row(registrationForm.prenoms) }}
                    </div>

                    <div class="row g-2">
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.email) }}
                    </div>

                    <div class="row g-2">
                        {{ form_row(registrationForm.sexe) }}
                        {{ form_row(registrationForm.dateNaissance, {label: 'Date de naissance' }) }}
                    </div>

                    <div class="row g-2">
                        {{ form_row(registrationForm.number, {label: 'Numero de telephone'}) }}
                        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
                    </div>

                    <div class="row">
                        {{ form_row(registrationForm.agreeTerms)}}
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-sm btn-primary btn-lg">Inscription</button>
                        </div>
                        <div class="col">
                            <p><small>Vous avez déja un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></small></p>
                        </div>
                    </div>

                    {{ form_end(registrationForm) }}

                </div>

                <div class="text-center m-5">
                    © {{ 'now' | date('Y')}} quartier Allakro
                </div>

            </div>

            <div class="col-6">
                <img src="{{ asset('/Images/App/Formulaires/inscription.jpg') }}" class="w-100 vh-100" alt="login form" />
            </div>

        </div>

</div>



</body>
</html>