{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}
{% block carousel%}{% endblock %}

{% block content%}

    <div class="container">
        <h1 class="fw-bold text-uppercase my-4">Toutes les annonces</h1>

        {% for annonce in annonces %}

            <div class="card mb-3" style="max-width: 1080px;">
                <div class="row g-0">
                    <div class="col-md-4" style="max-width: 720px;">
                        <img src="{{ vich_uploader_asset(annonce, 'imageFile') }}" class="img-fluid rounded-start h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.titre }}</h5>
                            <p class="card-text">{{ annonce.contenu | striptags | u.truncate(600, '...', false)}}</p>
                            <p class="card-text fw-bold">Contact : 0749959980.</p>
                            <p class="card-text text-end"><small class="text-muted"> Publiée le {{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        {%endfor %}

        {#    bloc d'affiche de pagination#}
        <div class="d-flex">
            {% do annonces.setPageRange(5) %}
            {{ knp_pagination_render(annonces, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
        {#    bloc d'affiche de pagination#}
    </div>

{% endblock %}
