{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}
{% block carousel%}{% endblock %}

{% block content%}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Slug</th>
                <th>Image</th>
                <th>Is_published</th>
                <th>Is_valid</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.contenu }}</td>
                <td>{{ annonce.slug }}</td>
                <td>{{ annonce.image }}</td>
                <td>{{ annonce.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ annonce.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.updatedAt ? annonce.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
{% endblock %}
