<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
    {#    bloc d'affiche de navbar#}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg bg-light sticky-top mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path("app_article_index") }}">
                    <img src="{{ asset("Images/App/Logo/logo.jpg") }}" alt="" class="rounded-circle d-inline-block align-text-center" width="60" height="54">
                    Allakro News
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_home") }}">Accueil</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_article_index") }}">Articles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_annonce_index") }}">Trouver un service</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_information") }}">Informations utiles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_contact") }}">Nous contacter</a>
                            </li>
                        </ul>

                    <ul class="navabar-nav navbar-nav d-flex flex-row ms-auto me-3">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a href="{{ path("app_login") }}" class="nav-link">
                                    <button type="button" class="btn btn-success">Se connecter</button>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path("app_register") }}" class="nav-link">
                                    <button type="button" class="btn btn-outline-primary">Inscription</button>
                                </a>
                            </li>
                        {% endif %}

                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if app.user %}
                                    <img src="{{ app.user.image ? vich_uploader_asset(app.user, 'imageFile') : asset('Images/App/Avatars/man.png')}}" class="rounded-circle" height="40" alt="" loading="lazy" />
                                    {% else %}
                                        <img src="{{ asset('Images/App/Avatars/man.png') }}" class="rounded-circle" height="40" alt="" loading="lazy" />
                                {% endif %}
                                {{ app.user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">Tableau de bord</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path("app_logout") }}">Se deconnecter</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {#    bloc d'affiche de navbar#}

    {#    bloc d'affiche de carousel#}
    {% block carousel %}
        <header class="mt-0">
            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-intervaal="3000">
                        <img src="{{ asset("Images/App/Carousel/Image3.jpg") | imagine_filter('carousel') }}" class="d-block w-100 img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                                <div class="col mb-4">
                                    <a href="" class="btn btn-primary">En savoir plus</a>
                                </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-intervaal="3000">
                        <img src="{{ asset("Images/App/Carousel/Image2.jpg") | imagine_filter('carousel') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                            <div class="col mb-4">
                                <a href="" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-intervaal="3000">
                        <img src="{{ asset("Images/App/Carousel/Image1.jpg") | imagine_filter('carousel') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                            <div class="col mb-4">
                                <a href="" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </header>
    {% endblock %}
    {#    bloc d'affiche de carousel#}

    {#    bloc d'affiche de content#}
    {% block content %}{% endblock %}
    {#    bloc d'affiche de content#}

    {#    bloc d'affiche de footer#}
    {% block footer %}
        <footer class="bg-secondary text-white text-center">

            <div class="container p-4">

                <div class="row">

                    <div class="col-lg-6 col-md-12 mb-2 mb-md-0">
                        <h5 class="text-uppercase">Information</h5>
                        <p>Ce site à été mis en lace dans le cadre d'un projet de fin d'etude. Les données presentes sur l'application sont des données fictives utilisées pour des fins pédagogiques</p>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">ALAKRO</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('app_home') }}" class="text-white">Accueil</a>
                            </li>
                            <li>
                                <a href="{{ path('app_article_index') }}" class="text-white">Articles</a>
                            </li>
                            <li>
                                <a href="{{ path('app_article_index') }}" class="text-white">Annonces</a>
                            </li>
                            <li>
                                <a href="{{ path('app_information') }}" class="text-white">Informations utiles</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">UVCI</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.uvci.edu.ci/portail/Main/index/fr" target="_blank" class="text-white">Portail</a>
                            </li>
                            <li>
                                <a href="http://scolarite.uvci.edu.ci/" target="_blank" class="text-white">Scolarité</a>
                            </li>
                            <li>
                                <a href="http://campus.uvci.edu.ci/" target="_blank" class="text-white">Campus</a>
                            </li>
                            <li>
                                <a href="http://www.bourses.enseignement.gouv.ci/" target="_blank" class="text-white">Demande de bourse</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="container p-4 pb-0">

                <div class="row">

                    <div class="col-12">


                    </div>

                </div>

            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                Copyright © {{ 'now' | date('Y')}} quartier Allakro
            </div>

        </footer>
    {% endblock %}
    {#    bloc d'affiche de footer#}
    </body>
</html>
